<div class="input-group mb-3">
    <input type="text" 
    class="form-control form-control-lg"
    placeholder="Type inventory name here to shearch" />
    <button type="button" class="input-group-text btn-btn-primary">View</button>
   
</div>

@code {

}
